:root {
    --nav-bar-text-color: #eee;
    --nav-bar-background: #1F4B72;
    --single-day-cards: #102A43;
    --table-hover: #354658;
}

* {
    font-family: "Montserrat", sans-serif;
    color: var(--nav-bar-text-color);
}

body {
    background-color: #031B2A;
    min-height: 100vh;
}

.navbar {
    background-color: var(--nav-bar-background);
}

.navbar-brand,
.nav-item .nav-link,
.nav-item .nav-link.active {
    font-family: "Montserrat", sans-serif;
    color: var(--nav-bar-text-color);
    transition: 0s all;
}

.nav-link {
    font-weight: 500;
    letter-spacing: 1.2px;
}

.nav-link.active {
    font-weight: 600;
    outline: #B4C3D0 solid 2px;
}

.navbar-brand {
    font-family: "Merriweather", serif;
}

.navbar-brand:hover {
    color: var(--nav-bar-text-color);
}

.navbar-brand:focus {
    color: var(--nav-bar-text-color);
}

.navbar-toggler {
    border-width: 0px;
    border-color: var(--nav-bar-text-color);
}

.navbar-toggler i {
    color: var(--nav-bar-text-color);
}

.navbar-toggler:focus {
    box-shadow: unset;
}

#find-city-btn {
    font-size: 18px;
    font-weight: 500;
}

#city-search {
    color: #222;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .6px;
}

#city-search:focus {
    outline: unset;
}

.loader {
    width: 50px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #514b82;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
        radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l5 1s infinite;
}

@keyframes l5 {
    to {
        transform: rotate(.5turn)
    }
}

.weather-card {
    background-size: cover;
    background-position: center;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: #ccc8 0px 1px 4px, #ccc8 0px 0px 0px 3px;
    border-radius: 15px;
}

.weather-degree {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.week-day {
    background-color: var(--nav-bar-text-color);
    font-weight: 600;
    width: fit-content;
    margin: 5px auto 15px;
    color: var(--single-day-cards);
    transition: .5s all, .3s background-color;
    position: relative;
    cursor: pointer;
}

.arrow-icon i {
    color: var(--single-day-cards);
}

.arrow-icon {
    padding-left: 10px;
    transition: .3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.week-day:hover {
    background-color: #bbb;
}

.weather-card:hover .week-day {
    padding-right: 45px !important;
}

.weather-card:hover .arrow-icon {
    opacity: 1;
}

.hi-lo,
.condition-text {
    font-size: 18px;
    font-weight: 500;
    text-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.3);
}

.err-msg {
    font-weight: 500;
    color: var(--nav-bar-text-color);

}

#return-home {
    max-width: 250px;
    font-size: 18px;
    font-weight: 500;
    margin: auto;
}

footer {
    background-color: var(--nav-bar-background);
}

footer .icon-box {
    font-size: 22px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #222;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer .icon-box i {
    color: var(--nav-bar-text-color);
    transition: .5s;
}

footer .icon-box:hover {
    background-color: #ddd;
}

footer .icon-box:hover i {
    color: var(--nav-bar-background);
}

.not-saved {
    color: #555;
}

.saved {
    color: #C19C60;
}

.fa-bookmark {
    font-size: 22px;
    margin-right: 10px;
    transition: .5s;
}

.fa-bookmark:hover {
    opacity: 75%;
}

.saved-city-element {
    background-position: center;
    background-size: cover;
    border-bottom: .7px solid rgba(0, 0, 0, 0.5);
}

#location-name {
    font-size: 36px;
    font-weight: 500;
    background-color: rgba(120, 120, 120, 0.4);
}

#title-box {
    min-height: 250px;
    background-position: center;
    background-size: cover;
}

#title-box p {
    text-shadow: 1px 2px 1.5px rgba(0, 0, 0, 0.3);
}

#some-details {
    padding-top: 5px;
}

#some-details p {
    font-size: 18px;
}

.left-col {
    background-color: var(--single-day-cards);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
    height: fit-content;
}

#astro {
    background-color: var(--single-day-cards);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
}

#astro p,
#astro i {
    margin-bottom: 5px;
    font-size: 18px;
}

.my-table {
    background-color: var(--single-day-cards);
}

.my-table td,
.my-table th {
    padding: 8px 8px;
    border-bottom: 1.5px solid #9995;
}

.my-table tr {
    cursor: default;
    transition: .1s;
}

.my-table tbody tr:hover {
    background-color: var(--table-hover);
}

.container-loader {
    width: 250px;
    height: 250px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cloud {
    width: 250px;
}

.front {
    padding-top: 45px;
    margin-left: 25px;
    display: inline;
    position: absolute;
    z-index: 11;
    animation: clouds 8s infinite;
    animation-timing-function: ease-in-out;
}

.back {
    margin-top: -30px;
    margin-left: 150px;
    z-index: 12;
    animation: clouds 12s infinite;
    animation-timing-function: ease-in-out;
}

.right-front {
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -25px;
    z-index: 5;
}

.left-front {
    width: 65px;
    height: 65px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
}

.right-back {
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -20px;
    z-index: 5;
}

.left-back {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
}

.sun {
    width: 120px;
    height: 120px;
    background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
    background: linear-gradient(to right, #fcbb04, #fffc00);
    border-radius: 60px;
    display: inline;
    position: absolute;
}

.sunshine {
    animation: sunshines 2s infinite;
}

@keyframes sunshines {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes clouds {
    0% {
        transform: translateX(15px);
    }

    50% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(15px);
    }
}

/* day button */

.cssbuttons-io-button {
    background: var(--nav-bar-text-color);
    color: var(--single-day-cards);
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: 0 0 1.6em -0.6em var(--single-day-cards) inset;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    transition: .3s;
}

.cssbuttons-io-button .icon {
    background: var(--single-day-cards);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    /* box-shadow: 0.1em 0.1em 0.6em 0.2em var(--single-day-cards); */
    right: 0.3em;
    transition: all 0.5s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button:hover {
    color: rgba(16, 42, 67, 0);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--nav-bar-text-color);
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

/* delbtn */
.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 2px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
    position: relative;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
    transition: .3s;
}

.saved-city-element:hover .bin-button{
    transform: scale(1);
    opacity: 1;
}

.bin-bottom {
    width: 15px;
    z-index: 2;
}

.bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
    z-index: 2;
}

.bin-button:hover .bin-top {
    transform: rotate(45deg);
}

.bin-button:hover {
    background-color: rgb(255, 0, 0);
}

.bin-button:active {
    transform: scale(0.9);
}

.garbage {
    position: absolute;
    width: 14px;
    height: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
}

.bin-button:hover .garbage {
    animation: throw 0.4s linear;
}

@keyframes throw {
    from {
        transform: translate(-400%, -700%);
        opacity: 0;
    }

    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}
